body {
  position: relative;
  background-image: url(./photos/black-snowfall.gif);
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
}

button{
  width: 100px;
  height: 50px;
  font-family: Helvetica, sans-serif;
  background-color: #333333;
  color: silver;
}

button:hover{
border: 2px solid silver;
cursor: pointer;
}

.container {
  margin: auto;
  width: 100%;
  font-family: Helvetica, sans-serif;
  height: 100px;
  text-align: center;
  color: silver;
}

.welcome {
  background-color: #070707;
  margin: 30px;
  padding: 30px;
  width: auto;
  border: 2px solid silver;
  font-size: 100px;
  font-family: Helvetica, sans-serif;
  color: silver;
}

#main {
  margin-bottom: 20px;
  font-size: 100px;
  width: 100%;
  height: 25px;
  font-family: Helvetica, sans-serif;
  color: silver;
}

#read {
  margin: auto;
  padding: 10px;
  width: 100%;
  height: 25px;
  font-family: Helvetica, sans-serif;
  color: silver;
}
